---

---

<section
  class="min-h-screen min-w-96 bg-about bg-cover flex flex-col items-center relative"
>
  <span
    class="flex flex-col items-center justify-center text-center m-auto gap-10 z-10"
  >
    <div>
      <p class="text-3xl font-dynalight md:text-4xl">Our story</p>
      <h1 class="text-4xl font-bold uppercase md:text-5xl">About us</h1>
    </div>
    <p
      class="text-sm tracking-widest p-2 uppercase text-orange-300 max-w-6xl md:text-lg"
    >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque vitae
      doloribus soluta eligendi minima nulla, minus quae repellendus repellat
      maiores libero nihil culpa! Perferendis assumenda velit sunt. Non,
      accusamus nemo?
    </p>
    <p class="text-sm max-w-4xl p-2 md:text-base">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem mollitia
      dolore consequuntur expedita asperiores deleniti neque atque, similique
      accusamus veniam distinctio culpa! Sint, mollitia aliquam maiores vitae
      fugiat esse ea. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Dicta, debitis! Voluptate libero, aliquam ad iure perspiciatis aut nemo
      possimus neque sapiente veritatis dolores praesentium, dignissimos quo
      obcaecati ipsam cupiditate cum.
    </p>
  </span>
</section>
