---
import CookedIcon from "../icons/CookedIcon.astro";
import DeliveryIcon from "../icons/DeliveryIcon.astro";
import Hours from "../icons/Hours.astro";
import Title from "./Title.astro";
---

<section
  class="min-h-screen min-w-96 bg-about bg-cover flex flex-col items-center relative"
>
  <img
    src="/img/food.webp"
    alt="img-food"
    class="w-28 h-28 object-cover absolute top-0 -left-8 rounded-full md:left-8 md:w-40 md:h-40 md:top-5"
    loading="lazy"
    decoding="async"
  />
  <img
    src="/img/rest-vintage.webp"
    alt="img-rest-vintage"
    class="w-28 h-28 object-cover absolute top-36 right-4 rounded-sm -rotate-12 border-4 md:right-8 md:w-40 md:h-40 md:top-72"
    loading="lazy"
    decoding="async"
  />

  <span
    class="flex flex-col items-center justify-center text-center m-auto gap-10 z-10"
  >
    <Title title1="Our story" title2="About us" />
    <p
      class="text-sm tracking-widest p-2 uppercase text-orange-300 max-w-6xl md:text-lg"
    >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque vitae
      doloribus soluta eligendi minima nulla, minus quae repellendus repellat
      maiores
    </p>
    <p class="text-sm max-w-4xl p-2 md:text-base">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem mollitia
      dolore consequuntur expedita asperiores deleniti neque atque, similique
      accusamus veniam distinctio culpa! Sint, mollitia aliquam maiores vitae
      fugiat esse ea. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Dicta, debitis! Voluptate libero.
    </p>
    <div
      class="flex gap-2 min-w-96 items-center justify-center text-black font-bold p-2"
    >
      <article class="p-2 w-full">
        <div class="h-20 w-full border flex justify-center items-center">
          <DeliveryIcon personalized="h-10 w-10 text-white" />
        </div>
        <p class="text-sm uppercase bg-amber-500 h-16 p-2">Free delivery</p>
      </article>
      <article class="p-2 w-full">
        <div class="h-20 w-full border flex justify-center items-center">
          <CookedIcon personalized="h-10 w-10 text-white" />
        </div>
        <p class="text-sm uppercase bg-amber-500 h-16 p-2">Freshly cooked</p>
      </article>
      <article class="p-2 w-full">
        <div class="h-20 w-full border flex justify-center items-center">
          <Hours personalized="h-10 w-10 text-white" />
        </div>
        <p class="text-sm uppercase bg-amber-500 h-16 p-2">24 hours support</p>
      </article>
    </div>
  </span>
</section>
