<section class="min-h-screen bg-about bg-cover flex flex-col items-center">
  <span
    class="flex flex-col items-center justify-center text-center m-auto gap-10"
  >
    <div>
      <p class="text-4xl font-dynalight">Our story</p>
      <h1 class="text-6xl font-bold uppercase">About us</h1>
    </div>
    <p class="text-sm tracking-widest uppercase w-[55rem] text-orange-300">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque vitae
      doloribus soluta eligendi minima nulla, minus quae repellendus repellat
      maiores libero nihil culpa! Perferendis assumenda velit sunt. Non,
      accusamus nemo?
    </p>
    <p class="w-[55rem]">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem mollitia
      dolore consequuntur expedita asperiores deleniti neque atque, similique
      accusamus veniam distinctio culpa! Sint, mollitia aliquam maiores vitae
      fugiat esse ea. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Dicta, debitis! Voluptate libero, aliquam ad iure perspiciatis aut nemo
      possimus neque sapiente veritatis dolores praesentium, dignissimos quo
      obcaecati ipsam cupiditate cum.
    </p>
  </span>
</section>
