<header class="min-h-screen bg-slider-1 bg-cover relative flex flex-col">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <!-- Capa de opacidad -->
  <div class="flex justify-around items-center w-10/12 mx-auto p-8 relative">
    <p class="text-white text-4xl font-bold font-dynalight">Bite Me</p>
    <ul class="flex gap-4 uppercase text-white">
      <a href=""><li>Home</li></a>
      <a href=""><li>About Us</li></a>
      <a href=""><li>Offer</li></a>
      <a href=""><li>Menu</li></a>
      <a href=""><li>Chef</li></a>
      <a href=""><li>Services</li></a>
      <a href=""><li>Gallery</li></a>
      <a href=""><li>Contact Us</li></a>
      <a href=""><li>Book now</li></a>
    </ul>
  </div>
  <span class="m-auto text-white text-center relative">
    <p class="text-4xl italic font-dynalight text-orange-200 tracking-wider">
      Welcome to our
    </p>
    <h1 class="text-6xl font-bold -mt-2 uppercase">Restaurant</h1>
    <p class="text-sm tracking-widest uppercase">
      The best multi-cuisine restaurant
    </p>
  </span>
</header>
