---
import Title from "./Title.astro";
---

<section
  class="flex flex-col items-center justify-center text-center m-auto gap-10 z-10 min-h-screen min-w-96"
>
  <Title title1="Hot offers" title2="Today's Special" />
  <div class="border border-gray-950 h-80 w-80 grid grid-cols-1">
    <article
      class="border flex flex-col justify-between items-center gap-2 p-5"
    >
      <h1 class="text-2xl font-bold uppercase">Italian Pizza</h1>
      <p
        class="bg-amber-500 uppercase w-20 rounded-sm text-black font-semibold"
      >
        40% off
      </p>
      <div class="flex gap-2">
        <p class="font-bold line-through text-gray-300 text-xl">$50</p>
        <p class="text-amber-500 text-xl font-bold">$20</p>
      </div>
      <p class="text-gray-500">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
        accusantium aut obcaecati. Lorem ipsum dolor sit amet consectetur, Lorem
        ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <button
        class="p-2 border border-amber-200 hover:bg-amber-200 hover:text-black"
        >Order now</button
      >
    </article>
  </div>
</section>
