---
import Title from "./Title.astro";
const menu = [
  {
    id: 1,
    title: "snacks",
    food: "Jumbo Shrimp",
    active: true,
    price: "$25.00",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    src: "",
  },
  {
    id: 2,
    title: "desert",
    food: "Jumbo Shrimp",
    active: false,
    price: "$25.00",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    src: "",
  },
  {
    id: 3,
    title: "dinner",
    food: "Jumbo Shrimp",
    active: false,
    price: "$25.00",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    src: "",
  },
  {
    id: 4,
    title: "freshfood",
    food: "Jumbo Shrimp",
    active: false,
    price: "$25.00",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    src: "",
  },
  {
    id: 5,
    title: "luntch",
    food: "Jumbo Shrimp",
    active: false,
    price: "$25.00",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    src: "",
  },
];
---

<section
  class="flex flex-col justify-center items-center text-center gap-5 min-h-screen min-w-96"
>
  <Title title1="Tasty and Delicious" title2="Offerd menu" />
  <ul class="flex border min-w-80 uppercase text-sm">
    {
      menu.map((item) => (
        <li
          id="menuFood"
          class={` ${item.active ? "bg-amber-500 text-black" : ""}
           p-2 cursor-pointer hover:bg-amber-500 hover:text-black`}
          data-active={item.active.toString()}
          data-id={item.id}
        >
          <p>{item.title}</p>
        </li>
      ))
    }
  </ul>
  <article class="border min-w-80 grid grid-cols-2">
    {
      menu.map((item) => (
        <div class="border">
          <p>{item.food}</p>
        </div>
      ))
    }
  </article>
</section>

<script>
  const menuClick = document.querySelectorAll("#menuFood");
  menuClick.forEach((item) => {
    item.addEventListener("click", (e) => {
      console.log("click", e);
    });
  });
</script>
